<ion-view title="Expense Details" >  
 <ion-nav-buttons side="primary">
        <h1 class="title"></h1>
      <button ng-click="showActionsheet()" class="button button-fab button-positive"><i class="icon ion-edit"></i></button>
    </ion-nav-buttons> 
    <ion-content  class="has-header">
        <div class="card">
            <div class="item item-divider item-positive center">{{expensedata.detail}}</div>
            <div class="list" ng-controller="expensedetailcontroltrl">
                <div class="row "><div class="col positive bold">Amount</div><div class="col bold">{{expensedata.amount}}</div></div>
                <div class="row "><div class="col positive bold">Date</div><div class="col bold">{{ expensedata.date | date:'dd-MMM-yy' }}</div></div>
                <div class="row "><div class="col positive bold">Tagged group</div><div class="col bold">{{getgroupname(expensedata.taggedgroup)}}</div></div>
            </div>
            <ion-list class="card ">
                <div class="item item-divider item-positive"> Paid By</div>
                <div class="row" ng-repeat="con in expensedata.contrib">
                    <div class="col positive bold">{{getusername(con.payee)}}</div><div class="col col-25 bold">{{con.amount}}</div>
                </div>
            </ion-list>
            <ion-list class="card">
                <div class="item item-divider item-positive"> Applicable To</div>
                <div class="row" ng-repeat="app in expensedata.applicable">
                    <div class="col positive bold">{{getusername(app.payee)}}</div><div class="col col-25 bold">{{app.amount}}</div>
                </div>
            </ion-list>
        </div> 
    </ion-content>                             
</ion-view>