<ion-side-menus enable-menu-with-back-views="true" >
    <ion-side-menu-content >
        <ion-nav-bar class='bar-stable'>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
            <ion-nav-back-button class="no-text">
            </ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view name="menuContent" ng-class="{expanded: isExpanded}" ></ion-nav-view>

    </ion-side-menu-content>
    <ion-side-menu side="left" expose-aside-when="large">
        <ion-content>
            <ion-list>
                <div ng-class="'item-'+appTheme" class="item item-divider">Menu</div>
                <ion-item menu-close class="item-icon-left" ui-sref="app.listgroups">
                    <i ng-class="appTheme" class="icon ion-ios-people"></i><b>Groups</b>
                </ion-item>
                <ion-item menu-close class="item-icon-left" ui-sref="app.listusers">
                    <i ng-class="appTheme" class="icon ion-person"></i><b>Users</b>
                </ion-item>
                <ion-item menu-close class="item-icon-left" ui-sref="app.listexpenses">
                    <i ng-class="appTheme" class="icon ion-cash"></i><b>Expenses</b>
                </ion-item>
                <ion-item nav-clear menu-close class="item-icon-left" ui-sref="app.settings">
                    <i ng-class="appTheme" class="icon ion-gear-b"></i><b>Settings</b>
                </ion-item>
                <ion-item nav-clear menu-close class="item-icon-left" ui-sref="app.intro">
                    <i ng-class="appTheme" class="icon ion-ios-help"></i><b>help</b>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
