  .small-icon {
  font-size: 12px;}
    .small {
  font-size: 12px;}
  .center{
     text-align:center;}

  .button-right{
  display: block !important;
  width: 100% !important;
  text-align:right !important;
}
.list .item.item-accordion {
  line-height: 20px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.009s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}
.lightgray { 
  background-color: LightGray;
}
.lightblue { 
  background-color: LightBlue;
}
.chip {
    border-radius: 30px;
    background: #DCDCDC;
    display: inline;
    padding: 2px;
    font:small-caption
}
.chip-close {
    border-radius: 30px;
    background: #DCDCDC;
    display: inline;
    padding: 2px;
    font:small-caption;
    cursor:pointer;
    color: #fff;
    border: 1px;
}
.chipcontainer{
  line-height: 2;
}
label.item.has-error {
  border-bottom: 2px solid red;
}

label.item.has-error-lr {
  border-left: 2px solid red;
  border-right: 2px solid red;
}

label.item.valid-lr {
  border-left: 2px solid green;
  border-right: 2px solid green;
}

.form-errors {
  margin: 5px 0
}

.form-error {
  padding: 2px 0 2px 16px;
  color: red;
}

.chip-close:after {
    content: "  ✖";
}

.ionic_toast{
  color:#FFF;
  cursor:default;
  font-size:1em;
  display:none;
  border-radius:2px;
  opacity:1;
  padding:10px 25px;
  margin:10px;
  position:fixed;
  left:0;
  right:0;
  text-align:center;
  z-index:9999;
  background-color:rgba(0,0,0,.8)
}

.ionic_toast_top{top:10px}
.ionic_toast_middle{top:40%}
.ionic_toast_bottom{bottom:10px}
.ionic_toast_close{border-radius:2px;color:#CCC;cursor:pointer;display:none;position:absolute;right:4px;top:4px;width:20px;height:20px}
.toast_close_icon{position:relative;top:1px}
.ionic_toast_sticky .ionic_toast_close{display:block}
.ionic_toast_close:active{background-color:#555}


